body {
    background-color: #efeee7;
}

p {
    font-size: 14px;
}

.navbar-dark {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #000000 !important;
}

/* change background color of navbar on small screens */
@media (max-width:800px) {
    .navbar-dark {
        background-color: #17a2b8 !important;
    }
}

/* reduce size of plots as screen size shrinks to keep them within the container */
@media (max-width:500px) {
    .img-plot {
        width: 350px;
        height: auto;
    }
} 

@media (max-width:400px) {
    .img-plot {
        width: 250px;
        height: auto;
    }
} 

@media (max-width:300px) {
    .img-plot {
        width: 150px;
        height: auto;
    }
} 

.navbar-dark .navbar-brand
{
    padding-left: 15px;
    padding-right: 15px;
}

.border {
    border-width:3px !important;
}